:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color: rgb(238, 77, 45);
    --border-color: #dbdbdb;
    --secondary-color: #ffffff;
    --star-color: #ffce3d;
    --height-header: 120px;
    --height-navbar: 38px;
    --height-header-with-search: calc(var(--height-header) - var(--height-navbar));
    --height-header-sort-bar: 46px;
}
*{
    box-sizing: inherit;
}
html{
    /* 16px */
    /* 1rem=16px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;

}
/* test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;

}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-footer{
    padding-left: 5px;
    padding-right: 5px;
    width: 24%;

}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
    margin-bottom: 10px ;
    

}

/* Animation */
@keyframes fadeIn {
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 3, 0.2);
    
}
.modal__body{
    margin: auto;
    z-index: 1;
}
.btn{
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding-top: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
    
}
.btn.btn--secondary{
    color: var(--text-color);
    background-color: var(--secondary-color);
    

}
.btn.btn--size-s{
    height: 30px;
    font-size: 1.3rem;
    padding: 0;
   width: 200px;

    
}
.btn.btn--disabled{
    cursor: default;
    background-color: #c3c3c3;
    color:#949494;
}
/* Container */
/* Pagination */
.pagination{
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.pagination-item{
    margin: 0 15px;
    
   
}
.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover{
    /* background-color: rgba(218, 43, 8, 0.8); */
    filter: brightness(90%);
    
}

.pagination-item__link{
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #93939c;
    font-weight: 300;
    min-width:40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}
.pagination-item__icon{
    font-weight: 300;
}

    
